# Write a program that accept a comma-separate sequence of word as inpute and print the word in a comma sepuence after sorting them alphabetically

In [1]:
items = input("comma-separat sequence of word")
words = (word for word in items.split(","))
print(",".join(sorted(list(set(words)))))

comma-separat sequence of wordwithout,hello,big,world
big,hello,without,world

In [6]:
a=input("exnter your Email")
b=a.index("@")
print(a[b+1:len(a)-4] ,end='')

exnter your Emailpayal@amazon.com
amazon

In [6]:
n=int(input())
a=[int (l1) for l1 in input().split()]
l2=[]
for i in range (1,n):
    if i not in a:
        l2.append(i)
print (l2)

11
1 2 4 5 8 9 10
[3, 6, 7]

In [11]:
lst1=[int (l1) for l1 in input().split()]
lst2=[]
for i in lst1:
    if i not in lst2:
        lst2.append (i)
print(lst2)

1 2 3 2 5 4 8 4 8
[1, 2, 3, 5, 4, 8]

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [3]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [4]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [5]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'banana', 'apple', 'orange', 'mango', 'grapes', 'cherry'}

In [6]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [9]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [10]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [12]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}